body {
    margin: 0;
    background: #f4f6f8;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 420px;
    margin: 70px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    background: #4f46e5;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
#loginbtt {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    background: #4f46e5;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

#taskname {
    display: block;
    margin: 0 auto;
    text-align: center;
}


p {
    text-align: center;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #4f46e5;
}

.error {
    color: red;
    text-align: center;
}
