{% extends "layout.html" %}
{% block body%}
<h1>Create a Task</h1>
<br>
<form action="/create" method="post">
    <label>Task Title</label>
    <input autocomplete="off" type="text" name="title" placeholder="Task title" >

    <label>Timer duration</label>
    <input type="time" name="timer_duration">

    <label>Schedule date & time</label>
    <input type="datetime-local" name="schedule_at">
   <label>Task description</label>
    <input autocomplete="off" type="text" name="description" placeholder="Task description" >
    
    <button type="submit" >Create</button>
    

</form>

{% endblock %}