{% extends "layout.html" %}
{% block body%}
<div id="view-{{task.id}}">
<h1>Task Title : {{task.title}}</h1>
<p>Task description:</p>
<p>{{task.description}}</p>
{% if task.schedule_at %}
    <p>
    Scheduled:
    {{ task.schedule_at.strftime("%d %b %Y, %I:%M %p") }}
    </p>
{% else %}
    <p>No schedule set</p>
{% endif %}

{% if task.timer_duration %}
    <p>Timer: {{ task.timer_duration }}</p>
{% else %}
    <p>No timer set</p>
{% endif %}
</div>

<button type="submit" onclick="enableEdit( {{ task.id }} )" >Edit</button>

<form id="edit-{{ task.id }}" action="/task/{{task.id}}/update" method="post" style="display:none;">
        <label>Title</label>
    <input type="text"
           name="title"
           value="{{ task.title }}"
           required>
    <br>
    <label>Description</label>
    <textarea name="description">{{ task.description }}</textarea>
    <br>
    <label>Schedule date & time</label>
    <input type="datetime-local"
           name="schedule_at"
           value="{{ task.schedule_at.strftime('%Y-%m-%dT%H:%M') if task.schedule_at else '' }}">
    <br>
    <label>Timer duration</label>
    <input type="time"
           name="timer_duration"
           value="{{ task.timer_duration }}">
    <br>
    <button type="submit">Save</button>
    <button type="button"
            onclick="cancelEdit({{ task.id }})">
      Cancel
    </button>
  </form>
  <form action="/delete/{{ task.id }}" method="post"
      onsubmit="return confirm('Are you sure you want to delete this task?');">
  <button class="delete">Delete task</button>
</form>
<form action="/finish/{{task.id}}" method="post">
    <button type="submit" name="completed" >Mark as completed</button>
</form>


<script>
    function enableEdit(id)
    {
        document.getElementById(`view-${id}`).style.display='none';
        document.getElementById(`edit-${id}`).style.display='block';
    }
    function cancelEdit(id)
    {
        document.getElementById(`view-${id}`).style.display='block';
        document.getElementById(`edit-${id}`).style.display='none';
    }
</script>



{% endblock %}
